/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

/* VARIABLES */

:root {
  --font-manrope: 'Manrope', sans-serif;
  --font-covered: 'Covered By Your Grace', cursive;
  --1f1e17: #1f1e17;
  --878680: #878680;
  --e4e2d7: #e4e2d7;
  --1c8a43cc: #1c8a43cc;
  --1c8a43: #1c8a43;
  --68b04d: #68b04d;
  --f8f7f0: #f8f7f0;
  --20ce88: #20ce88;
  --24231d: #24231d;
  --a5a49a: #a5a49a;

  /* icons social media */
  --twitter: url('./assets/icons/twitter.svg');
  --twitter-hover: url('./assets/icons/twitter-hover.svg');
  --twitter-white: url('./assets/icons/twitter-white.svg');
  --instagram: url('./assets/icons/instagram.svg');
  --instagram-hover: url('./assets/icons/instagram-hover.svg');
  --instagram-white: url('./assets/icons/instagram-white.svg');
  --facebook: url('./assets/icons/facebook.svg');
  --facebook-hover: url('./assets/icons/facebook-hover.svg');
  --facebook-white: url('./assets/icons/facebook-white.svg');
  --pinterest: url('./assets/icons/pinterest.svg');
  --pinterest-hover: url('./assets/icons/pinterest-hover.svg');
  --pinterest-white: url('./assets/icons/pinterest-white.svg');
  --leaf: url('./assets/icons/leaf.svg');
  --leaf-hover: url('./assets/icons/leaf-hover.svg');
}

/* RESETS */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fcfcfc;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

img {
  display: block;
  height: 100%;
}

label {
  display: block;
  font-family: var(--font-manrope);
  color: var(--1c8a43);
  font-size: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-bottom: 2px solid var(--1c8a43);
  font-size: 1rem;
}

input:focus-visible {
  outline: none;
}

/* REUSABLE */
.container {
  max-width: 75rem;
  margin: 0 auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  padding: 0.625rem 1.25rem;
  color: #fff;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  filter: blur(48%);
  box-shadow: 0 0 12px rgb(255, 255, 255, 0.2) inset;
}

.section-span {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--1c8a43);
  font-family: var(--font-covered);
}

.section-title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.6rem;
  color: var(--1f1e17);
  font-family: var(--font-manrope);
  margin-bottom: 32px;
}

.nav-icons {
  display: flex;
  gap: 1.5rem;
}

.nav-icons li:nth-child(1) a {
  background-image: var(--twitter);
}

.nav-icons li:nth-child(1):hover a {
  background-image: var(--twitter-hover);
}

.nav-icons li:nth-child(2) a {
  background-image: var(--facebook);
}

.nav-icons li:nth-child(2):hover a {
  background-image: var(--facebook-hover);
}

.nav-icons li:nth-child(3) a {
  background-image: var(--pinterest);
}

.nav-icons li:nth-child(3):hover a {
  background-image: var(--pinterest-hover);
}

.nav-icons li:nth-child(4) a {
  background-image: var(--instagram);
}

.nav-icons li:nth-child(4):hover a {
  background-image: var(--instagram-hover);
}

/* HEADER TOP*/
.header-top {
  display: grid;
  grid-template-columns: minmax(240px, 1fr) minmax(916px, 1fr);
  border: 0.0625rem solid rgb(255, 255, 255, 0.1);
  border-radius: 0.75rem;
  background: #fcfcfc;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0rem 3.4375rem 0rem 0.9375rem;
}

.nav-header {
  display: grid;
  grid-template-columns: minmax(12.1875rem, 1fr) minmax(670px, 1fr);
  padding: 1.375rem 0 1.375rem 1.25rem;
  align-items: center;
}

.nav-contact {
  display: flex;
  justify-content: flex-end;
}

.nav-contact li {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 1.25rem;
  padding: 15px 20px 15px 30px;
}

.nav-contact li img {
  width: 1.875rem;
}

.nav-contact li:nth-child(2) {
  border-left: 1px solid var(--e4e2d7);
  border-right: 1px solid var(--e4e2d7);
}

.nav-contact li p {
  font-family: var(--font-manrope);
  color: var(--878680);
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.nav-contact li a {
  font-family: var(--font-manrope);
  color: var(--1f1e17);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.nav-icons li a {
  padding: 0.875rem;
  background: #f8f7f0;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 2.5rem;
  max-height: 2.5rem;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.3s;
}

/* HEADER BOTTOM */
.header-bottom {
  background: url('./assets/paper-bg.png');
  height: 79px;
  width: 100%;
  position: absolute;
}

.header-bottom nav ul {
  display: flex;
  gap: 3.75rem;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}

.header-bottom nav ul a {
  font-size: 1rem;
  font-family: var(--font-manrope);
  font-weight: 600;
  color: var(--878680);
  line-height: 36px;
  transition: 0.3s ease;
}

.header-bottom nav ul a.active,
.header-bottom nav ul a:hover {
  color: var(--1f1e17);
}

/* HERO CARD */
.hero {
  background: url('./assets/hero-img.png') no-repeat center center;
  padding: 181px 0;
  margin-top: 3.75rem;
}

.hero-container {
  padding: 0 12px;
}

.hero .hero-intro,
.hero .hero-text {
  font-size: 1rem;
  font-family: var(--font-manrope);
  line-height: 1.875rem;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  font-weight: 600;
  margin-bottom: 2.75rem;
  max-width: 50ch;
}

.hero .hero-intro {
  margin-bottom: 1.125rem;
  text-transform: uppercase;
  color: #fff;
}

.hero h1 {
  font-size: 7.5rem;
  font-family: var(--font-covered);
  max-width: 25ch;
  line-height: 6.875rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1.625rem;
}

.hero h1 span {
  color: var(--68b04d);
}

.hero-button {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.hero-button a {
  padding: 0.875rem 3.125rem;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.875rem;
  font-weight: 700;
  border-radius: 0.625rem;
  background: var(--1c8a43);
  max-width: 196px;
}

.hero-button a:hover {
  background: var(--1c8a43cc);
}

/* INTRODUCTION */
.introduction {
  padding-top: 3.75rem;
  padding-bottom: 7.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.introduction-image {
  position: relative;
}

.introduction-image .big-image {
  width: 550px;
  height: 550px;
  background: url('./assets/Fachada.webp') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
}

.small-image {
  background: url('./assets/equipe.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  z-index: 999;
  border: 10px solid #fff;
  position: absolute;
  bottom: -80px;
  left: -40px;
}

.introduction-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction-info h2 {
  font-size: 1.625rem;
  font-weight: 800;
  line-height: 1.875rem;
  color: var(--1c8a43);
  font-family: var(--font-manrope);
  margin-bottom: 32px;
}

.introduction-info p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.875rem;
  color: var(--878680);
  font-family: var(--font-manrope);
  margin-bottom: 40px;
}

/* SERVICES */
.services-section {
  padding: 80px 0;
  background: linear-gradient(180deg, var(--f8f7f0) 50%, #fff 50%);
}

.services-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services-content .product-list {
  right: 0;
  left: 0;
  margin: 0 0.75rem;
  top: -7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  align-items: center;
}

.services-content .product-list > li a {
  display: grid;
  background: #fff;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  font-family: var(--font-covered);
  font-weight: 400;
  width: 100%;
}

.services-content ul li a div {
  grid-area: 1/1;
  border-radius: 0.625rem;
}

.services-content ul li a div img {
  border-radius: 0.625rem;
  width: 100%;
}

.services-content ul li a h1 {
  color: #1c8a43;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.services-content .product-list .product-overlay {
  grid-area: 1/1;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  font-size: 1.25rem;
  border-radius: 0.625rem;
}

.services-content .product-list > li:hover .product-overlay {
  opacity: 1;
}

/* PARTNERS */
.partners {
  background: var(--1c8a43);
  position: relative;
  padding: 3.75rem 0;
  text-align: center;
}

.partners .section-span {
  color: var(--20ce88);
}

.partners::after,
.partners::before {
  content: '';
  background: url('./assets/elements-leaf.svg') no-repeat center center;
  position: absolute;
  display: block;
  width: 7.25rem;
  height: 3.375rem;
  transform: rotate(45deg);
}

.partners::before {
  bottom: 1.25rem;
  left: 0;
  transform: rotate(160deg);
}

.partners::after {
  top: 5rem;
  right: 2.5rem;
}

/* slide */
.slide-wrapper {
  display: flex;
  gap: 1.25rem;
  overflow: hidden;
}

.slide {
  display: flex;
  gap: 1.25rem;
  padding: 0 0.9375rem;
}

.slide-item {
  display: flex;
  flex-shrink: 0;
  gap: 1.25rem;
  max-width: 100%;
  max-width: 940px;
  overflow: hidden;
}

.partner-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 1.25rem;
  border-radius: 0.625rem;
  max-height: 8.75rem;
}

.partner-item img {
  width: 6.25rem;
  height: auto;
}

/* MAP SECTION */
.map-section {
  height: 600px;
}

/* CONTACT */
.contact-section {
  padding: 120px 0;
}

.contact-section .section-span {
  color: var(--20ce88);
}

.contact-section h1 {
  color: #fff;
}

.contact-section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-section .form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.contact-section .form form div:nth-child(3),
.contact-section .form form div:nth-child(4) {
  grid-column: 1/-1;
}

/* FOOTER */
.footer {
  background: var(--24231d);
}

.footer-content {
  display: grid;
  grid-template-columns:
    minmax(18.75rem, 1fr)
    minmax(12.5rem, 1fr)
    minmax(18.75rem, 1fr);
  padding: 7.5rem 0;
  gap: 1.25rem;
}

.footer-content a {
  width: max-content;
}

.footer-content h1 {
  font-size: 1.25rem;
  font-family: var(--font-manrope);
  line-height: 0.375rem;
  color: #fff;
  margin-bottom: 1rem;
}

.footer-content .title-detail {
  height: 0.25rem;
  width: 2.8125rem;
  background: var(--68b04d);
  display: block;
  border-radius: 0.25rem;
  position: relative;
  margin-bottom: 1.25rem;
}

.footer-content .title-detail::after {
  content: '';
  height: 0.25rem;
  width: 0.25rem;
  background: var(--68b04d);
  display: block;
  border-radius: 50%;
  position: absolute;
  right: -10px;
}

.footer-grid-1 {
  padding: 0 0.75rem;
}

.footer-grid-1 img {
  max-width: 9.375rem;
  height: auto;
  margin-bottom: 1.375rem;
}

.footer-grid-1 p {
  font-family: var(--font-manrope);
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.875rem;
  color: var(--a5a49a);
  margin-bottom: 1.25rem;
}

.footer .nav-icons li a {
  background: var(--1f1e17);
  background-position: center center;
  background-repeat: no-repeat;
}

.footer .nav-icons li:nth-child(1) a {
  background-image: var(--twitter-white);
}

.footer .nav-icons li:nth-child(2) a {
  background-image: var(--facebook-white);
}

.footer .nav-icons li:nth-child(3) a {
  background-image: var(--pinterest-white);
}

.footer .nav-icons li:nth-child(4) a {
  background-image: var(--instagram-white);
}

.footer-grid-3 ul,
.footer-grid-2 ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-grid-3 a,
.footer-grid-2 a {
  font-family: var(--font-manrope);
  font-size: 0.9375rem;
  line-height: 1.875rem;
  font-weight: 500;
  color: var(--a5a49a);
  padding-left: 1.25rem;
  position: relative;
  display: flex;
  align-items: center;
}

.footer-grid-2 a::before {
  content: '';
  background: var(--leaf) no-repeat center center;
  position: absolute;
  width: 0.7031rem;
  height: 0.625rem;
  left: 0;
  transition: 0.3s;
}

.footer-grid-2 a:hover:before {
  background: var(--leaf-hover);
}

.footer-grid-3 a::before {
  content: '';
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  width: 0.9375rem;
  height: 0.9375rem;
  left: 0;
  transition: 0.3s;
}

.footer-grid-3 ul li:nth-child(1) a::before {
  background-image: url('./assets/icons/phone-footer.svg');
}

.footer-grid-3 ul li:nth-child(2) a:before {
  background-image: url('./assets/icons/mail-footer.svg');
}

.footer-grid-3 ul li:nth-child(3) a:before {
  background-image: url('./assets/icons/map-pin-footer.svg');
}

.footer-copy {
  background: var(--1f1e17);
  padding: 20px 0;
  font-size: 0.875rem;
}

.footer-copy > div,
.footer-copy ul {
  display: flex;
}

.footer-copy > div {
  justify-content: space-between;
  color: var(--a5a49a);
  font-weight: 600;
  line-height: 1.875rem;
}

.footer-copy ul {
  gap: 1rem;
}

.footer-copy ul a {
  color: var(--a5a49a);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.875rem;
}
